*{
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form-tag{
    flex-grow: 1;
}

.center{
    width: 350px;
    height: 450px;
    box-shadow: -5px 5px 10px 0px rgba(0,0,0,0,2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}

h1{
    margin-top: 30px;
    width: 50%;
}

input{
    width: 80%;
    height: 14%;
    background: none;
    margin-top: 10px;
    border: none;
    margin-bottom: solid 1px black;
    font-size: 10px;
    padding-left: 10px;
    outline: none;
}

.Submit-Button{
    width: 120px;
    height: 35px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
}

.login-with{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    margin-top: 10px;
    width: 130px;
    height: 35px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}

.fb{
    background-color: lightblue;
    color: white;
}

.ggl{
    background-color: red;
    color: white;
}

/* responsive design for mobile */
@media (max-width: 800px){
    .center{
        width: 350px;
        height: 450px;
    }
}